/**
 * Default theme for js3
 */

body {
  font-family: sans-serif;
  font-size: 300%;
}


body > div {
  line-height: 160%;
}

body > div > * {
  margin-bottom: 0.75em;
}

body > div > ul > li {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 0.25em;
}

body > div a:link, body > div a:visited {
  color: #6c0;
  text-decoration: underline;
}

body > div h1 {
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}

body > div h1 sup {
  vertical-align: super;
  color: #6c0;
  padding-bottom: 0.5em;
}

body > div kbd {
  font-weight: bold;
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.10em 0.25em;
}

body > div #clickme { cursor: pointer; }
