body {
  font-family: sans-serif;
  font-size: 300%;
}


body > div {
  line-height: 160%;
}

body > div > * {
  margin-bottom: 0.75em;
}

body {
  font-family: sans-serif;
  font-size: 300%;
}

body img {
  vertical-align: middle;
}

body > div {
  line-height: 160%;
}

body > div > * {
  margin-bottom: 0.75em;
}

body > div > ul > li {
  text-align: center;
}

body > div a:link, body > div a:visited {
  color: #06c;
  text-decoration: none;
}

body > div h1 {
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}

body > div.cover h1 span  {
  color: #c60;
  padding-bottom: 0.5em;
}

body > div kbd {
  font-weight: bold;
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0.10em 0.25em;
}

